@font-face{
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.ttf');
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0 70px;

}

nav>img{
    width: 140px;
}

nav #links{
    margin-left: -40px;
}

nav #links a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #777;
    margin-left: 40px;
}

nav>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: rgb(75, 176, 243);
}

nav>a>i{
    margin-right: 10px;
}

#main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    min-height: 370px;
    color: #555;
    background-color: white;
}

#main h1{
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

#main h3{
    text-transform: capitalize;
}

#main>i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: rgb(75, 176, 243);
    border-radius: 50%;
    border: 2px solid rgb(75, 176, 243);
    background-color: transparent;
}

#main>a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px 42px;
    margin-top: 20px;
    box-shadow: 0 12px 30px rgb(121, 185, 228);
    border-radius: 100px;
    color: white;
    background-color: rgb(75, 176, 243);
}

#bigimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 90vh;
    margin: 0 auto;
}

#bigimg img{
    height: 60%;
}

#entrylevel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 200px;
    margin: 60px auto;
}

#entrylevel h2{
    color: #444;
}

#entrylevel p{
    width: 70%;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px ;
}

#entrcourses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 130px;
    margin-top: 20px;
}

#entrcourses .crs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-height: 130px;
}

.crs h3{
    width: 70%;
}

.crs .crsimg{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(191, 192, 190);
}

.crs:nth-child(1) h3{
    color: rgb(91, 183, 211);
    font-weight: 700;
    font-size: 18px;
}

.crs:nth-child(2) h3{
    color: rgb(255, 176,6);
    font-weight: 700;
}

.crs:nth-child(3) h3{
    color: rgb(185, 84, 155);
    font-weight: 700;
}

#courseBanner{
    display: flex;
    margin: 0 auto;
    width: 90%;
    min-height: 400px;
}

.leftcrsbnr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-height: 400px;
}

.rightcrsbnr{
    padding: 70px 0;
    width: 45%;
    min-height: 400px;
    color: #555;
}

.rightcrsbnr h1{
    font-size: 34px;
}

.rightcrsbnr h3{
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 10px;
}

.rightcrsbnr p{
    font-size: 12px;
    width: 80%;
    line-height: 16px;

}

.crsimage{
    width: 90%;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 40px 50px -45px rgba(0,0,0,0.3);
    background-color: rgb(148, 199, 199);
}

.rightcrsbnr a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(255,176,6);
    color: #fff;
    padding: 14px 36px;
    margin-top: 20px;
    border-radius: 100px;
    box-shadow: 0 15px 45px 1px rgb(255,176,6,0.4);
}

#brandswork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 150px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#brandswork h1{
    font-family: 'Playfair Display';
    opacity: .6;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0px 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.brands{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.brands:nth-child(3){
    width: 50%;
}

.brands h4{
    font-family: 'Playfair Display';
    font-weight: 800;
    opacity: .4;
}

#brandswork a{
    margin-top: 20px;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    color: #666;
    font-weight: 700;
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
    align-items: center;
}

#brandswork a i{
    font-size: 20px;
    margin-right: 10px;
}

#brandswork a:hover{
    text-shadow: 0 0px 12px rgba(0,0,0,0.2);
}

#showcaseGreen{
    display: flex;
    width: 100%;
    padding: 40px 0;
    min-height: 100vh;
    background-color: #E3F2DD;
}

#dtsshwGreen{
    width: 45%;
    min-height: 100vh;
    padding: 120px 100px;
    color: rgb(57, 128, 25);
}

#imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-height: 100vh;
}

#showcaseGreen img{
    height: 600px;
}

#dtsshwGreen{
    color: rgb(57, 128, 25);
}

#dtsshwGreen a{
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-weight: 700;
    color: rgb(57, 128, 25);
}

#dtsshwGreen a i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: rgb(57, 128, 25);
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(57, 128, 25);
}

#stats{
    margin: 0 auto;
    width: 90%;
    min-height: 100vh;
    padding: 130px 0;
    text-align: center;
}

#statstext{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center; 
}

#stats h5{
    color: #929292;
    letter-spacing: .2px;
}

#stats h5 span{
    color: rgb(85,173,231);
    font-size: 20px;
}

#stats h5 b{
    color: #444;
}

#stats h2{
    width: 60%;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

#stats p{
    width: 70%;
    text-align: center;
    margin-top: 40px;
    opacity: .6;
    font-size: 13px;
}

#cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 550px;
    margin-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    min-height: 500px;
}

#cards .card:nth-child(1){
    border-radius: 10px;
    box-shadow: 0 30px 25px -30px rgb(0,0,0,0.8);
    background: linear-gradient(to right bottom, #666, #000);
}

#cards .card:nth-child(2){
    border-radius: 10px;
    box-shadow: 0 30px 25px -30px rgb(0,0,0,0.8);
    background: linear-gradient(to right bottom, rgb(156,236,187), rgb(32, 107, 61));
}

.card .elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.card .elements h4{
    font-size: 14px;
    font-weight: 800;
    opacity: .4;
    margin-bottom: 30px;
    letter-spacing: 15px;
    margin-right: -15px;
}

.card .elements h1{
    font-size: 80px;
}

.card .elements h3{
    font-size: 40px;
    letter-spacing: 10px;
    margin-right: -10px;
}

.card .elements h5{
    font-size: 12px;
    letter-spacing: 5px !important;
    margin-right: -5px;
}

.card .elements p{
    font-size: 11px !important;
    width: 100%;
    line-height: 20px;
    color: #fff;
    opacity: .7 !important;
}

.card .elements a{
    padding: 15px 40px;
    border-radius: 100px;
    margin-top: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #222;
    background-color: #fff;
}

#cards .card:nth-child(2) .elements h4{
    opacity: .7 !important;
}

#cards .card:nth-child(2) .elements h5{
    opacity: .6 !important;
    color: #fff;
}

#cards .card:nth-child(2) .elements p{
    opacity: 1 !important;
    color: #fff;
}

#cards .card:nth-child(2) .elements a{
    color: rgb(52,146,107);
}

#footer{
    display: flex;
    width: 90%;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
}

.leftftr{
    width: 50%;
}


.leftftr h3{
    font-size: 40px;
    color: #888;
}

.imgsppl{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.imgsppl h6{
    display: flex;
    align-items: center;
    margin-left: 10px;
    opacity: .4;
}

.imgppl{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -10px;
}

.imgppl:nth-child(1){
    margin-left: 0px;
    background-image: url(https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80);
    background-size: cover;
    background-position: center;
}

.imgppl:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&q=80);
    background-position: center;
    background-size: cover;
}

.imgppl:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1589571894960-20bbe2828d0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80);
    background-size: cover;
    background-position: center;
}

.rightftr{
    width: 50%;
    padding: 0 70px;
}

.rightftr h1{
    opacity: .4;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.rightftr #ftrlinks{
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    margin-top: 20px;
}

.rightftr #ftrlinks a{
    margin-top: 5pxx;
    color: #000;
    opacity: .6;
}

.rightftr #ftrlinks a:hover{
    cursor: pointer;
    opacity: 1;
    color: blue;
}

body > h5{
    display: flex;
    justify-content: center;
    letter-spacing: .4px;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

body > h5 i{
    margin: 0 5px;
    color: red;
}








@media(max-width: 600px){
    nav{
        padding: 0 30px;
    }
    nav #links{
        display:none;
    }
    nav>img{
        width: 120px;
    }
    #main{
        padding: 0 20px;
        margin-top: 50px;
        min-height: 300px;
    }
    #main h1{
        font-size: 17px;
    }
    #main h5{
        text-align: center;
        font-size: 12px;
    }
    #main>i{
      width: 20px;
      height: 20px;
      font-size: 9px;  
    }
    #main a{
        font-size: 10px;
        letter-spacing: .7px;
        font-weight: 500;
        padding: 13px 18px;
    }
    #bigimg{
        min-height: 40vh;
    }
    #bigimg img{
        width: 100%;
    }
    #entrylevel{
        margin: 50px auto;
    }
    #entrylevel p{
        width: 90%;
    }
    #entrylevel #entrcourses{
        width: 90%;
        flex-direction: column;
    }
    #entrcourses .crs{
        width: 100%;
    }
    #courseBanner{
        flex-direction: column;
    }
    .leftcrsbnr{
        width: 100%;
        min-height: 260px;
    }
    .leftcrsbnr .crsimage{
        width: 100%;
        min-height: 260px;
    }
    .rightcrsbnr{
        width: 100%;
        min-height: 320px;
    }
    #brandswork{
        margin-bottom: 60px;
    }
    #brandswork h1{
        font-size: 25px;
    }
    .brands{
        width: 100%;
        margin-left: -30px;
        flex-wrap: wrap;
    }
    .brands h4{
        opacity: .25;
        margin-top: 15px;
        font-size: 17px;
        margin-left: 30px;
    }
    #brandswork a{
        margin-top: 40px;
        font-size: 15px;
    }
    #showcaseGreen{
        flex-direction: column;
    }
    #dtsshwGreen{
        width: 100%;
        min-height: 30vh;
        padding: 60px 20px;
    }
    #imageWrapper{
        width: 100%;
        min-height: 30vh;
    }
    #imageWrapper img{
        height: 360px;
    }
    #stats{
        padding: 50px 0;
    }
    #stats h5{
        text-align: center;
    }
    #stats h2{
        width: 90%;
        font-size: 25px;
        margin-top: 30px;
    }
    #stats p{
        width: 80%;
        line-height: 20px;
    }
    #stats #cards{
        flex-direction: column;
        align-items: center;
    }
    #cards .card{
        width: 90%;
        margin-bottom: 50px;
        min-height: 530px;
    }
    #footer{
        flex-direction: column;
    }
    #footer .leftftr{
        width: 100%;
    }
    #footer .leftftr h3{
        font-size: 35px;
        line-height: 45px;
    }
    #footer .rightftr{
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }
    #footer .rightftr h1{
        margin-left: 0px;
    }
    #footer .rightftr #ftrlinks{
        margin-left: 0px;
    }
    body>h5{
        font-size: 9px;
        margin-top: 40px;
    }
}